body{
  margin: 0;
  padding: 0;
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 17px;
  color:#111;
}

.logo_group{
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
}

header#header{
  background: #313131;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
}

.container{
  width: 1050px;
}

#header .container{
  width: 976px;
  margin: 0 auto;

}

#header .header_navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header .header_navbar h2{
  font-size: 12px;
  color: #f1f1f1;
  padding-left: 10px;
}

#header .header_navbar h2:hover{
  opacity: 0.6;
  transition: 0.5s;
}
#header .header_navbar img.logo{
  width: 30px;
  height: 30px;
}

img.logo:hover{
  opacity: 0.6;
  transition: 0.5s;
}

#header .header_navbar img.shopping_bag{
  width: 50px;
  height: 50px;
}

img.shopping_bag:hover{
  opacity: 0.6;
  transition: 0.5s;
}

.header_navbar ul{
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: space-between;
  align-items: center;
  height: 36px;
}
.header_navbar li{
  list-style: none;
  padding-right: 15px;
}

.header_navbar a:hover{
  opacity: 0.6;
  transition: 0.5s;
}

.header_navbar li a{
  text-decoration: none;
  color: #f1f1f1;
  display: block;
  font-size: 12px;
}

.buy{
  background: linear-gradient(#0070C9,#42A1EC);
  padding: 5px 10px;
  border-radius: 5px;
}

.header_navbar li a.buy:hover{
  background: linear-gradient(#42A1EC,#0070C9);
  opacity: 1;
}
/* Landing Page */
.landing_Page_Slider{
  display: flex;
  justify-content: flex-start;
  transition: ease-in 0.5s all;
  will-change: left; /* Faire les annimation de manière plus fluide */
}
.landing_Page{
  margin:20px 0px;
  width:100%;
  height: 480px;
  overflow: hidden;
}
.landing_Page_Slider img{
  margin: 0px 10px;
}
.landing_Page_Slider_Page {
	display: flex;
	z-index: 8;
	bottom: 10px;
	left: 35%;
}
.landing_Page_Slider_Page div {
	margin-right: 10px;
	margin-left: 18px;
	width: 10px;
	height: 10px;
	background: none;
	border: 2px solid black;
	border-radius: 50%;
}
.landing_Page_Slider_Page div:hover {
	background: white;
}
.left{
  position : absolute;
  left: 20px;
  top: 50%;
  font-size: 25px;
  color: #F2F2F2;
  z-index: 10;
}

.right{
  position : absolute;
  right: 20px;
  top: 50%;
  font-size: 25px;
  color: #F2F2F2;
  z-index: 10;
}
.landing_Page_Slider{
  margin: 20px 0px;
  width: 100%;
  height: 480px;
  overflow: hidden;
}
hr{
  display: flex;
  align-items: space-around;
  border : 2px thin black;
}

footer {
  background-color: #F2F2F2;
  height: auto;
  display: flex;
  flex-direction: column;
  font-family: 'SF Pro Display';
  position: absolute;
  width:100%;
  bottom: 0px;
  font-size: 0.8rem;
}
.footerSection{
  margin: 0px 160px 0px 160px;
  display: flex;
}
.actualPage {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #313131;
}
.ramifications {
  display: flex;
  justify-content: space-between;
}

.footerLogoImage{
  width: 30px;
  height: auto;

}
.callLine {
  border-bottom: 1px solid #313131;
}
.french_flag {
  width: 20px;
  height: auto;
}
.footerFr {
  display: flex;
  align-items: center;
}
.copyright{
  display: flex;
  justify-content: space-between;
}
.footerlinks {
  padding : 0px 8px 0px 8px;
}
.footerBorder {
  border-right: 1px solid #313131;
}
