body{
  margin: 0;
  padding: 0;
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 17px;
  color:#111;
}

header#header{
  background: #313131;
  width: 100%;
}

.container{
  width: 1050px;
}

#header .container{
  width: 976px;
  margin: 0 auto;
  
}

#header .header_navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header .header_navbar img{
  width: 30px;
  height: 30px;
}

.header_navbar ul{
  display: flex;
  padding: 0;
  margin: 10px;
  justify-content: space-between;
  align-items: center;
}
.header_navbar li{
  list-style: none;
  padding-right: 15px;
}

.header_navbar li a{
  text-decoration: none;
  color: white;
  display: block;
  font-size: 12px;
}

.buy{
  background: linear-gradient(#0070C9,#42A1EC);
  padding: 5px 10px;
  border-radius: 5px;
}